$greenBtn      : #00a74a;
$greenBtnLight : #08c95e;
$redBtn        : #9f0f17;
$redBtnLight   : #e01e29;
$yellowBtn     : #fcd000;
$yellowBtnLight: #ffe154;
$blueBtn       : #094a8f;
$blueBtnLight  : #0c5db3;