.btn {
  &_menu {
    padding      : 0;
    font-size    : 0.8rem;
    width        : 75px;
    height       : 25px;
    justify-self : center;
    border-radius: 20%;
    font-weight  : bolder;
    background   : #b6b6b6;

    &-slider {
      position        : absolute;
      cursor          : pointer;
      top             : 0;
      left            : 0;
      right           : 0;
      bottom          : 0;
      background-color: #ccc;
      transition      : 0.4s;

      &:before {
        position        : absolute;
        content         : "";
        height          : 12px;
        width           : 15px;
        left            : 2px;
        bottom          : 3px;
        background-color: white;
        transition      : 0.4s;
      }
    }

    &-strict {
      position: relative;
      display : inline-block;
      width   : 50px;
      height  : $sliderHeight;

      &-slider {
        &:checked + .btn_menu-slider {
          background-color: #2196F3;
        }

        &:focus + .btn_menu-slider {
          box-shadow: 0 0 1px #2196F3;
        }

        &:checked + .btn_menu-slider:before {
          transform: translateX(26px);
        }
      }

      & input {
        display: none;
      }
    }

    &-onOff {
      position: relative;
      display : inline-block;
      width   : 50px;
      height  : $sliderHeight;

      &-slider {
        &:checked + .btn_menu-slider {
          background-color: #2196F3;
        }

        &:focus + .btn_menu-slider {
          box-shadow: 0 0 1px #2196F3;
        }

        &:checked + .btn_menu-slider:before {
          transform: translateX(26px);
        }
      }

      & input {
        display: none;
      }
    }
  }

  &_play {
    width : 175px;
    height: 175px;

    &-green {
      background            : $greenBtn;
      grid-column           : 1 / span 1;
      border-top-left-radius: 80%;

      &-light {
        background: $greenBtnLight;
      }
    }

    &-red {
      background               : $redBtn;
      grid-row                 : 3 / span 1;
      border-bottom-left-radius: 80%;

      &-light {
        background: $redBtnLight;
      }
    }

    &-yellow {
      background             : $yellowBtn;
      grid-row               : 1 / span 1;
      grid-column            : 3 / span 1;
      border-top-right-radius: 80%;

      &-light {
        background: $yellowBtnLight;
      }
    }

    &-blue {
      background                : $blueBtn;
      grid-row                  : 3 / span 1;
      grid-column               : 3 / span 1;
      border-bottom-right-radius: 80%;

      &-light {
        background: $blueBtnLight;
      }
    }
  }
}