.container {
  width                : 500px;
  height               : 500px;
  padding-top          : 37.5px;
  margin               : 150px auto;
  background           : #6c6c6c;
  border-radius        : 40%;
  display              : grid;
  grid-template-columns: 175px 50px 175px;
  grid-template-rows   : 175px 75px 175px;
  justify-content      : center;

  &_menu {
    width                : 400px;
    height               : 50px;
    grid-row             : 2 / span 1;
    grid-column          : 1 / span 3;
    display              : grid;
    grid-template-columns: 175px 50px 175px;
    grid-gap             : 1px;
    justify-content      : center;
    align-self           : center;

    & h2 {
      font-size   : 1.5rem;
      margin      : 5px 0 0;
      grid-column : 2 / span 1;
      justify-self: center;
      align-self  : center;
    }

    & label {
      margin      : 5px 0 0;
      grid-column : 3 / span 1;
      justify-self: center;
    }

    & p {
      margin      : 0;
      justify-self: center;
      align-self  : center;
      font-size   : 1.125rem;
      font-weight : bold;
    }

    &-subL {
      display     : grid;
      grid-column : 1 / span 1;
      justify-self: center;
      align-self  : center;

      & h4 {
        margin     : 0;
        font-size  : 1.125rem;
        grid-column: 1 /span 1;
        text-align : center;
      }

      & #startBtn {
        grid-column: 1 / span 1;
      }
    }

    &-subR {
      display     : grid;
      grid-column : 3 / span 1;
      justify-self: center;
      align-self  : center;

      & #strict {
        grid-column : 1 / span 1;
        grid-row    : 1 / span 1;
        font-size   : 1.125rem;
        align-self  : center;
        justify-self: start;
        margin-left : 10px;
      }

      & #strictBtn {
        grid-column : 2 / span 1;
        grid-row    : 1 / span 1;
        align-self  : center;
        justify-self: start;
      }

      & #power {
        grid-column : 1 / span 1;
        grid-row    : 2 / span 1;
        font-size   : 1.125rem;
        align-self  : center;
        justify-self: start;
        margin-left : 10px;
      }

      & #powerBtn {
        margin      : 0;
        grid-column : 2 / span 1;
        grid-row    : 2 / span 1;
        align-self  : center;
        justify-self: start;
      }
    }
  }
}